body {
  padding: 0;
  margin: 0;
  background-color: #343d2f;
  font-family: 'Exo';
}

p {
  font-family: 'Exo';
  color: #FFF;
  letter-spacing: .1em;
}

.sidebar-hr {
  margin-top: -15px;
}

#container {
  height: auto;
  position:relative;
}

.section-title h2 {
  font-family: Exo;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 56px;
  padding-bottom: 5%;
}

.section-title h3 {
  font-family: Exo;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 40px;
}

#welcometext {
  z-index:101;   
  color: #FFFFFF;
  font-family: Exo;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.3em;
}

#welcometext a {
  color: #FFFFFF;
  text-decoration: none;
}

#welcometext a:hover {
  color: #b2d236;
  text-decoration: none;
}

.intro-slide {
  background: url('./assets/clouds-2.jpg');
  background-size: cover;
  padding: 5% 10% 5% 10%;
}

.portfoliointro-slide {
  background: url('./assets/clouds-2.jpg');
  background-size: cover;
  height: 35em;
  padding: 5% 10% 5% 10%;
}

.portfolio-deets {
  font-weight: 300;
  font-size: 12px;
}

.services-title {
  font-weight: 600;
  font-size: 24px;
}

.work-slide {
  background-color: #566369;
  padding: 5% 10% 5% 10%;
}

.work-slide-upper {
  margin-bottom: 2%;
}
.container-fluid {
  padding: 0 !important;
}

.about-slide {
  background: url('./assets/about-castle-3.jpg');
  background-size: cover;
  background-position: 100%, 100%;
  padding: 5% 10% 5% 10%;
}
.asterisk {
  color: #FFF;
}

.asterisk:hover {
  color: #b2d236;
  text-decoration: none;
}

.about-slide-upper {
  margin-bottom: 5%;
}

.team-slide {
  background-color: #4e504d;
  padding: 5% 10% 5% 10%;
}

.services-slide {
  background-color: #6f595b;
  padding: 5% 10% 5% 10%;
}

.service-icons {
  margin-bottom: 1em;
  display: block;
  width: 25%;
}

.contact-slide {
  background: url('./assets/contact-bird2.jpg');
  background-size: cover;
  padding: 5% 10% 5% 10%;
}

#secondsticker {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-family: Exo;
  font-weight:300;
  font-size: 18px;
  line-height: 1.4em;
  text-align: left;
  padding: 12px;
  float:right;
  position:fixed;
  margin-top: 3%;
  z-index: 100;
}

#secondsticker a {
  color: #FFFFFF;
  text-decoration: none;
}

#secondsticker a:hover {
  color: #b2d236;
  text-decoration: none;
}

.emailtext a {
  color: #FFFFFF;
  font-family: Exo;
  font-size: 40px;
  font-weight: 200;
  text-decoration: none;
  letter-spacing: .2em;
}

.emailtext a:hover {
  text-decoration: none;
  color: #b2d236;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

#wrapper {
  width: 20%;
  margin-left: 75%;
}

.span3 a {
    display: inline-block;
    position: relative;
  }

.span2 a {
  display: inline-block;
  position: relative;
}

.span3 img {
  z-index: 10;
}

.span6 a {
    display: inline-block;
    position: relative;
  }

.caption {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(178,210,54,0.7);
  color: #FFFFFF;
  font-family: Exo;
  font-weight: 400;
  text-shadow: 0px 1px 2px #000;
  font-size: 18px;
  line-height: 1.2em;
  text-align: center;
  padding-top: 40%;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -moz-transition: all .25s linear;
  transition: all .25s linear;
}

a:hover .caption {
 opacity: 1;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -moz-transition: all .25s linear;
  transition: all .25s linear;
}

 .caption-work {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  color: #FFFFFF;
  font-family: Exo;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.1em;
  text-align: left;
  padding: 10%;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -moz-transition: all .25s linear;
  transition: all .25s linear;
}

.caption-work .work-kind {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5em;
}

a:hover .caption-work {
 opacity: 1;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -moz-transition: all .25s linear;
  transition: all .25s linear;
}

.slide-title {
  font-family: Exo;
  color: #FFFFFF;
  font-size: 300px;
  font-weight: 800;
  margin-left: -50%;
  margin-top: -10%;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  z-index: -100;
}

.body-copy {
  color: #FFFFFF;
  font-family: Exo;
  font-weight: 400;
  font-size: 16px;
}

.facebook {
  width: 50%;
  height: auto;
  margin-top: 10%;
}

.facebook img:hover {
  background: url('./assets/twitter-gem.png') no-repeat;
}

.twitter {
  width: 50%;
  height: auto;
  margin-top: 10%;
  margin-top: 30%;
}

.modal-trigger {
  cursor: pointer;
}

#modal_1 {
  font-family: Exo;
}

#modal_1 a {
  color: #b2d236;
  text-decoration: none;
}

#modal_2 {
  font-family: Exo;
}

#modal_2 a {
  color: #b2d236;
  text-decoration: none;
}

#modal_3 {
  font-family: Exo;
}

#modal_3 a {
  color: #b2d236;
  text-decoration: none;
}

.popupwrap {
  width: 552px;
}

.popupimg {
  width: 552px;
  padding-bottom: 10px;
  height: auto;
}

@media (max-width: 767px) {
    #welcometext { 
      font-size:90%;
    }

    #secondsticker {
      display:none;
    }

    .body-copy {
      font-size: 90%;
      line-height: 1.2em;
    }
    .emailtext a {
      font-size: 14px;
      letter-spacing: 0em;
    }
    .team-members {
      font-size: 9px;
    }
    .facebook {
      width: 80%;
    }
    .twitter {
      width: 80%;
    }
    .services-title {
      font-size: 16px;
      line-height: 1em;
    }
    .section-title h2 {
      font-size: 24px;
      line-height: 1em;
    }

  }

@media (max-width: 1000px) {
    .emailtext a {
      font-size: 24px;
    }
  }
@media (max-width: 1300px) {
.caption {
  font-size: 10px;
  }
.caption-work {
  font-size: 12px;
  }
.caption-work .work-kind {
  font-weight: 300;
  font-size: 10px;
}

}

#secondsticker .nav {
  margin-top: 2px;
}

#secondsticker .nav li:not(:last-child) {
  margin-bottom: 5px;
}

.nav > li > a:hover {
  background-color: transparent !important;
}

.nav {
  margin-bottom: 0 !important;
}

#secondsticker .nav li.active a {
  color: #b2d236;
}

.personal-link {
  padding-bottom: 1px;
}