/*
##### EVERYTHING #####
*/

.section-title h3 {
  font-family: Exo;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 40px;
}

.portfolio-deets {
  font-weight: 300;
  font-size: 12px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}

.videobackground {
	z-index: 10;
}

.body-copy {
  color: #FFFFFF;
  font-family: Exo;
  font-weight: 400;
  font-size: 16px;
}

/*
##### ASUO PAGE #####
*/

.asuointro-slide {
  background: url('work/asuo-businesscards.jpg');
  background-size: cover;
  height: 35em;
  padding: 5% 10% 5% 10%;
}

.asuoabout-slide {
  background-color: #597175;
  padding: 5% 10% 5% 10%;
}

/*
##### SEXPOSITIVE PAGE #####
*/

.sexpositiveintro-slide {
  height: 35em;
  padding: 5% 10% 5% 10%;
}

.sexpositiveabout-slide {
  background-color: #332a3d;
  padding: 5% 10% 5% 10%;
}

/*
##### ERS PAGE #####
*/

.ersintro-slide {
  height: 35em;
  padding: 5% 10% 5% 10%;
}

.ersabout-slide {
  background-color: #5b6453;
  padding: 5% 10% 5% 10%;
}


/*
##### RESPONSIVE #####
*/

@media (max-width: 767px) {
	.asuointro-slide {
		height: 20em;
		background-position: 50%, 0%;
	}

  }